<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.coatli.persistence.PersonsMapper">

  <resultMap id="retrieveAllResultMap" type="Person">
    <result property="id"            javaType="string"  column="id"             jdbcType="VARCHAR" />
    <result property="curp"          javaType="string"  column="curp"           jdbcType="VARCHAR" />
    <result property="names"         javaType="string"  column="names"          jdbcType="VARCHAR" />
    <result property="firstSurname"  javaType="string"  column="first_surname"  jdbcType="VARCHAR" />
    <result property="secondSurname" javaType="string"  column="second_surname" jdbcType="VARCHAR" />
    <result property="birthday"      javaType="date"    column="birthday"       jdbcType="DATE"    />
  </resultMap>

  <select id="retrieveAll"
          resultMap="retrieveAllResultMap">
    SELECT
      id,
      curp,
      names,
      first_surname,
      second_surname,
      birthday
    FROM
      persons
  </select>

  <insert id="create"
          parameterType="Person">
    INSERT INTO
      persons
    (
      id,
      curp,
      names,
      first_surname,
      second_surname,
      birthday
    )
    VALUES
    (
      #{id,            mode=IN, javaType=String,  jdbcType=VARCHAR},
      #{curp,          mode=IN, javaType=String,  jdbcType=VARCHAR},
      #{names,         mode=IN, javaType=String,  jdbcType=VARCHAR},
      #{firstSurname,  mode=IN, javaType=String,  jdbcType=VARCHAR},
      #{secondSurname, mode=IN, javaType=String,  jdbcType=VARCHAR},
      #{birthday,      mode=IN, javaType=Date,    jdbcType=DATE, typeHandler=BirthdayTypeHandler}
    )
  </insert>

</mapper>
